.h1-heading {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #555;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3.7rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.section-story .story-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}
.section-story .story-container .story-con {
  width: 80%;
  margin: 10rem 20rem 5rem 20rem;
  height: 55vh;
  position: relative;
  border-bottom: 4px solid #d5daf4;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con {
    height: 60vh;
  }
}
.section-story .story-container .story-con__heading {
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .section-story .story-container .story-con__heading {
    font-size: 1.8rem;
  }
}
.section-story .story-container .story-con__each {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5rem 6rem;
  position: relative;
  height: 40vh;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con__each {
    height: 50vh;
  }
}
.section-story .story-container .story-con__each-1 {
  position: absolute;
  top: 8%;
  left: 0;
  z-index: 100;
  opacity: 1;
  background-color: white;
}
.section-story .story-container .story-con__each-2 {
  background-color: #1c35c6;
  color: white;
  border: 1px solid #1c35c6;
  position: absolute;
  top: -6rem;
  left: 5rem;
  z-index: 50;
}
.section-story .story-container .story-con__each-2:hover {
  z-index: 200;
}
.section-story .story-container .story-con__each-2 a {
  color: white;
}
.section-story .story-container .story-con__each-3 {
  background-color: #ed7c00;
  color: white;
  border: 1px solid #ed7c00;
  position: absolute;
  top: -15rem;
  left: 10rem;
}
.section-story .story-container .story-con__each-3:hover {
  z-index: 200;
}
.section-story .story-container .story-con__each-3 ul li {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.section-story .story-container .story-con__each__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2rem;
}
.section-story .story-container .story-con__each__heading p {
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 600px) {
  .section-story .story-container .story-con__each__heading p {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
}
.section-story .story-container .story-con__each__heading:after {
  display: block;
  height: 5px;
  background-color: black;
  content: " ";
  width: 140px;
  position: absolute;
  top: 10rem;
  left: 6rem;
}
.section-story .story-container .story-con__each__heading--2:after,
.section-story .story-container .story-con__each__heading--3:after {
  background-color: white;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con__each__heading--2:after,
  .section-story .story-container .story-con__each__heading--3:after {
    display: none;
  }
}
.section-story .story-container .story-con__each__heading--1 .ff {
  margin-right: 2rem;
  font-size: 4rem;
  padding-bottom: 1rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con__each__heading--1 .ff {
    font-size: 3rem;
  }
}
.section-story .story-container .story-con__each__heading--1 .dot-blue {
  background-color: #1c35c6;
  margin: 0.2rem 0.2rem;
  padding: 0.5rem;
  width: 4%;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-block;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con__each__heading--1 .dot-blue {
    width: 6%;
    height: 2rem;
    pading: 0.3rem;
  }
}
@media (max-width: 600px) {
  .section-story .story-container .story-con__each__heading--1 .dot-blue {
    width: 7%;
    height: 1.5rem;
  }
}
.section-story .story-container .story-con_subheading {
  margin-bottom: 2rem;
  line-height: 3.5rem;
}
@media (max-width: 900px) {
  .section-story .story-container .story-con_subheading {
    line-height: 3.2rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .section-story .story-container .story-con_subheading {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
.section-story .story-container .inAction {
  width: 80%;
  position: relative;
}
.section-story .story-container .inAction h1 {
  font-weight: 900;
  margin-bottom: 1rem;
}
.section-story .story-container .inAction p:after {
  display: block;
  height: 5px;
  background-color: black;
  content: " ";
  width: 140px;
  position: absolute;
  top: 8rem;
  left: 1rem;
}
.section-story .story-container .inAction .inaction__imgs {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 600px) {
  .section-story .story-container .inAction .inaction__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.section-story .story-container .inAction .inaction__imgs-each {
  width: 25%;
  overflow: hidden;
}
@media (max-width: 600px) {
  .section-story .story-container .inAction .inaction__imgs-each {
    width: 80%;
  }
}
.section-story .story-container .inAction .inaction__imgs-each img {
  height: 23vh;
}
.our-work {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}
.our-work__heading {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .our-work__heading h1 {
    font-size: 3rem;
  }
}
.our-work .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25%;
  height: 0;
}
.our-work .video-wrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 50px auto;
}
@media (max-width: 600px) {
  .header-top .logo1 {
    width: 20rem;
  }
}
.header-top .nav-items {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: all 0.5s;
}
.header-top .nav-items a {
  text-decoration: none;
  color: black;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.header-top .nav-items a:hover {
  background-color: #ed7c00;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}
.header-top .nav-items p {
  margin-right: 2rem;
  font-size: 3rem;
  font-weight: 700;
}
.header-top .nav-items .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-header {
  width: 100%;
  margin: 0 auto;
}
.main-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 100px auto;
}
@media (max-width: 600px) {
  .main-header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main-header .header-container .cont {
  width: 50%;
}
@media (max-width: 600px) {
  .main-header .header-container .cont {
    width: 80%;
  }
}
.main-header .header-container .cont--img {
  background-image: url(../img/group.png);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 600px) {
  .main-header .header-container .cont--img {
    height: 40vh;
  }
}
.main-header .header-container .cont .subcon {
  color: white;
  height: 60vh;
  padding: 4rem;
  padding-top: 6rem;
}
@media (max-width: 600px) {
  .main-header .header-container .cont .subcon {
    height: 40vh;
  }
}
.main-header .header-container .cont .subcon--blue {
  background-color: #1c35c6;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
