.section-story .story-container{
   
    .flex-mix(@direction: column) !important;

    .story-con{
        width: 80%;
        margin: 10rem 20rem 5rem 20rem;
        height: 55vh;
        position: relative;
        border-bottom: 4px solid @bg-light-blue;
        //padding-bottom: 10rem;
        @media @tablet{
            height: 60vh;

        }
        @media @phone{
            height: 140vh;
        }

        &__heading{
            margin-bottom: 1rem;
            @media @tablet{
                font-size: 2.5rem;
            }
            @media @phone{
                font-size: 1.8rem;
            }
        }
        

        &__each{

            width: 80%;
            margin: 0 auto;
            border: 1px solid black;
            padding: 5rem 6rem;
            position: relative;
            height: 40vh;

            @media @tablet{
                height: 50vh;
            }

            // @media @phone{
            //     height: 60vh;
            // }

            &-1{
                position: absolute;
                top: 8%;
                left: 0;
                z-index: 100;
                opacity: 1;
                background-color: white;
                @media @phone{
                    position: relative;
                    top: -150px;
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }

            &-2{
                background-color: @main-blue;
                color: white;
                border: 1px solid @main-blue;
                position: absolute;
                top: -6rem;
                left: 5rem;
                z-index: 50;

                @media @phone{
                    position: relative;
                    top: -130px;
                    left: -.1rem;
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            

                &:hover{
                    z-index: 200;
                }

                a{
                    color: white;
                }

            }

            &-3{
                background-color: @main-tangerine;
                color: white;
                border: 1px solid @main-tangerine;
                position: absolute;
                top: -15rem;
                left: 10rem;

                @media @phone{
                    position: relative;
                    top:-110px;
                    left: -.1rem;
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            

                &:hover{
                    z-index: 200;
                }
                ul li{
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                   }
            }


            &__heading{
                .flex-mix(@justify:flex-start);
                margin-bottom: 2rem;
                p{
                    margin-bottom: 1rem;
                    letter-spacing: 0.5rem;
                    @media @phone{
                        font-size: .8rem;
                        letter-spacing: 0.3rem;
                    }
                }
                &:after{
            
                    display: block;
                    height: 5px;
                    background-color: black;
                    content:" ";
                    width: 140px;
                    // margin:0 auto;
                    // margin-top: 30px;
                    position: absolute;
                    top: 10rem;
                    left: 6rem;

                    @media @phone{
                       display: none;
                    }
                }
                &--2, &--3{
                    &:after{
                        background-color: white;
                        @media @tablet{
                            display: none;
                        }
                        
                    }

                    
                
                    
                    
                }
                
            
              
                &--1{
                    .ff{
                        margin-right: 2rem;
                        font-size: 4rem;
                        padding-bottom: 1rem;
                        letter-spacing: 0.5rem;
                        @media @tablet{
                            font-size: 3rem;
                        }
                    }
                    .dot-blue{
                        background-color: @main-blue;
                        margin: .2rem 0.2rem;
                        padding: 0.5rem;
                        width: 4%;
                        height: 2.5rem;
                       
                        border-radius:  50%;
                        display: inline-block;
                        @media @tablet{
                            width: 6%;
                            height: 2rem;
                            pading: 0.3rem;
                        }
                        @media @phone{
                            width: 7%;
                            height: 1.5rem;
                        }
                        
                    }
                }

            }
           

                
            

        }

        &_subheading{
            margin-bottom: 2rem;
            line-height: 3.5rem;

            @media @tablet{
                line-height: 3.2rem;
                font-size: 2.5rem;
            }
            @media @phone{
                font-size: 1.5rem;
                line-height: 2.3rem;
            }

        }
       

        
    }
    
    .inAction{
        
        width:80%;
        position: relative;



        h1{
            font-weight: 900;
            margin-bottom: 1rem;
        }


        p:after{
            
                    display: block;
                    height: 5px;
                    background-color: black;
                    content:" ";
                    width: 140px;
                    // margin:0 auto;
                    // margin-top: 30px;
                    position: absolute;
                    top: 8rem;
                    left: 1rem;
                    @media @phone{
                        display: none;
                     }
                }

        .inaction__imgs{
            margin-top: 5rem;
            .flex-mix();
            
            @media @phone{
                .flex-mix(@direction: column);
                width: 100%;
                
              
            }

            &-each{
                width: 25%;
                overflow: hidden;

                @media @phone{
                    width: 100%;
                  
                }
    
                
                img{
                   // width: 100%;
                    height:23vh;
                  
                    
                    

                }
               
            }

        }
    }
}


            
 